<ul>
    <li>Name: {{ data.name }}</li>
    <li>Birthplace: {{ data.birthplace }}</li>
    <li>Death Year: {{ data.death_year }}</li>
    <li>Base: {{ data.base }}</li>
    <li>Nickname: {{ data.nickname }}</li>
    <br>
</ul>